# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

_Objectives:_
* popular languages that Data Scientists
* libraries used by Data Scientists
* Data Science Tools

 Some of the popular languages that Data Scientists use are:
1. python
2. R
3. c++

 Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. Seaborn
3. Matplotlib
4. Scikit-learn

| Data Science Tools | |
|---|---|
| Jupyter Notebook ||
| Vs Code ||
| spyder ||

### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [30]:
#This will convert 200 minutes to hours by diving by 60
int(200/60)

3

## Author
samia